<c8y-title> {{ 'Tenant Option Management' | translate }} </c8y-title>

<c8y-action-bar-item [placement]="'right'" [priority]="90">
  <button
    title="{{ 'Export' | translate }}"
    type="button"
    class="btn btn-link"
    (click)="openExportModal()"
    [disabled]="!rows?.length"
  >
    <i c8yIcon="upload"></i> {{ 'Export' | translate }}
  </button>
</c8y-action-bar-item>

<c8y-action-bar-item [placement]="'right'" [priority]="90">
  <button
    title="{{ 'Import ' | translate }}"
    type="button"
    class="btn btn-link"
    (click)="openImportFromFileModal()"
  >
    <i c8yIcon="download"></i> {{ 'Import' | translate }}
  </button>
</c8y-action-bar-item>

<c8y-action-bar-item [placement]="'right'" [priority]="100">
  <button
    title="{{ 'Add existing' | translate }}"
    type="button"
    class="btn btn-link"
    (click)="openImportModal()"
  >
    <i c8yIcon="add-property"></i> {{ 'Add existing' | translate }}
  </button>
</c8y-action-bar-item>

<c8y-action-bar-item [placement]="'right'" [priority]="500">
  <button
    title="{{ 'Create new' | translate }}"
    type="button"
    class="btn btn-link"
    (click)="openAddModal()"
  >
    <i c8yIcon="plus"></i> {{ 'Create new' | translate }}
  </button>
</c8y-action-bar-item>

<c8y-data-grid
  [title]="'Tenant Options' | translate"
  [columns]="columns"
  [rows]="rows"
  [pagination]="pagination"
  [actionControls]="actionControls"
  (onReload)="reload()"
>
  <c8y-column name="content">
    <ng-container *c8yCellRendererDef="let context">
      <span *ngIf="!context.value"><c8y-loading></c8y-loading></span>
      <span *ngIf="context.value" title="{{ context.value }}" class="overflow-cell">{{
        context.value
      }}</span>
    </ng-container>
  </c8y-column>

  <c8y-ui-empty-state
    [title]="'No Tenant Option created or imported yet.'"
    [subtitle]="
      'You can add existing Tenant Options, import a JSON file from a previous export, or create a new Tenant Option.'
    "
    [horizontal]="true"
  >
  </c8y-ui-empty-state>
</c8y-data-grid>
