<c8y-title> {{ 'Tenant Option Management' | translate }} </c8y-title>

<c8y-action-bar-item [placement]="'right'" [priority]="500">
  <button
    title="{{ 'Add tenant option' | translate }}"
    type="button"
    class="btn btn-link"
    (click)="openModal()"
  >
    <i c8yIcon="plus"></i> {{ 'Add tenant option' | translate }}
  </button>
</c8y-action-bar-item>

<c8y-data-grid
  [title]="'Tenant Options' | translate"
  [columns]="columns"
  [rows]="rows"
  [pagination]="pagination"
  [actionControls]="actionControls"
  (onReload)="reload()"
>
  <c8y-column name="content">
    <ng-container *c8yCellRendererDef="let context">
      <span *ngIf="!context.value"><c8y-loading></c8y-loading></span>
      <span *ngIf="context.value" title="{{ context.value }}" class="overflow-cell">{{
        context.value
      }}</span>
    </ng-container>
  </c8y-column>
</c8y-data-grid>
